<!DOCTYPE html>
<html>
<head>
  <title>CNCINATOR</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">CNCINATOR</a>
  </div>
</nav>
<br />
<div class="container">
  <div id="status" class="alert alert-primary">
  Status: <span></span>
  </div>
{% if 'noFile' in status %}
<div class="alert alert-danger">
Selecione um arquivo
</div>
{% elif 'fileError' in status %}
<div class="alert alert-danger">
Arquivo invalido
</div>
{% elif 'runningErr' in status %}
<div class="alert alert-danger">
Já existe uma operação em execução
</div>
{% elif 'noRunningErr' in status %}
<div class="alert alert-danger">
Nenhum programa em execução
</div>
{% elif 'okFile' in status %}
<div class="alert alert-success">
Arquivo válido. Pronto para iniciar
</div>
{% endif %}
{% if not status or 'noFile' in status or 'fileError' in status  or 'noRunningErr' in status %}
<p>Selecione um arquivo gcode:</p>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" id="myFile" name="file" class="form-control">
  <button type="submit" class="btn btn-primary">Enviar</button>
  <p></p>
</form>
<p>Ou faça um probe</p>
<a href='/probe' class="btn btn-primary">Probe</a>
{% endif %}
{% if 'okFile' in status %}
<a href='/start' class="btn btn-success">Iniciar</a>
{% endif %}
{% if 'running' in status %}
<a href='/pause-resume' class="btn btn-warning">Pausar/Recomeçar</a>
<a href='/abort' class="btn btn-danger">Abortar</a>
{% endif %}
<!---
<p><div id="tempo">
Tempo Previsto:
</div></p>
-->
<br />
<br />
</div>
<script>
//document.getElementById("tempo").style.display = "none";
//document.getElementById("pronto").style.display = "none";

//document.getElementById("iniciar").style.display = "none";
//document.getElementById("parar").style.display = "none";
//document.getElementById("recomecar").style.display = "none";
//document.getElementById("abortar").style.display = "none";
/*
function pronto() {
  var x = document.getElementById("pronto");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}

function mostrartempo() {
  var x = document.getElementById("tempo");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
  }

  function mostrariniciar(){
   var x = document.getElementById("iniciar");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


function mostrarparar()
  {
   var x = document.getElementById("parar");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
  }

function mostrarrecomecar(){
   var x = document.getElementById("recomecar");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function mostrarabortar(){
   var x = document.getElementById("abortar");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
*/
var prevStatus = '';

function updateStatus(){
  let request = new XMLHttpRequest();
  request.open('GET','/status');
  request.responseType = 'json';
  request.send();
  request.onload = function(){
    status = request.response['status'];
    if(prevStatus==''){
      prevStatus = status;
    }
    else if(status!=prevStatus&&(status=='End'||status=='Aborted')){
      window.location.href = "/";
    }
    prevStatus = status;
    let statusSpan = document.getElementById('status').getElementsByTagName('span')[0];
    if(status=="Stop"){
      statusSpan.innerHTML = "Pronto";
    }
    else if(status=="Run"){
      statusSpan.innerHTML = "Executando";
    }
    else if(status=="Hold"){
      statusSpan.innerHTML = "Pausado";
    }
    else if(status=="End"){
      statusSpan.innerHTML = "Pronto";
    }
    else if(status=="Aborted"){
      statusSpan.innerHTML = "Pronto";
    }
  }
}
const interval = setInterval(updateStatus, 500);
</script>
</body>
</html>
